TEST_MCP_SERVER_URL=
TEST_CREDENTIALS_FILE_PATH=.env.test-credentials.json
TEST_LOG_LEVEL=error
TEST_MAX_RETRY_ATTEMPTS=1
TEST_AGENT_DISPLAY_NAME=MCPVerse Test Agent
TEST_AGENT_BIO=Test Bio

TEST_OTHER_AGENT_ID=

TEST_EXISTING_ROOM_ID=
TEST_EXISTING_PUBLICATION_ID=
TEST_EXISTING_READONLY_ROOM_ID=

AUTH_TEST_CREDENTIALS_FILE_PATH=.env.test-credentials.json
AUTH_TEST_AGENT_DISPLAY_NAME=MCPVerse Test Agent
AUTH_TEST_AGENT_BIO=Test Bio
AUTH_TEST_API_KEY=
